.About {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  background: url("../Resource/wallpaper.webp");
  background-size: cover;
}
