.CodeEditor {
  display: flex;
  flex-direction: column;
}
.Editor {
}
.Editor > textarea {
  height: 350px;
  width: 350px;
}
.CodeEditor > iframe {
  background: white !important;
  height: 350px;
  width: 350px;
}
.none {
  display: none;
}
.edits {
  display: flex;
  background: white;
}
