@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  font-family: "Nunito", sans-serif;
}

:root {
  --high: #1f2328;
  --mid: #24292f;
  --low: #656d76;
  --wht: white;
  --blk: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #100e17;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
