.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url("../Resource/wallpaper.webp");
  background-size: cover;
}

.inputBox {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.inputBox > input {
  /* background: var(--high); */
  background: rgba(255, 255, 255, 0.001);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  min-width: 256px;
  width: 30vw;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 20px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
